*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
body{
    position: relative;
}
.form-container{
    border:1px solid #ddd;
    margin :auto;
}
footer{
    position: absolute;
    bottom: 0px;
}