*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
html{
    
}
body{
    position: relative;
    border:1px solid #ddd;
    min-height: 100vh;
   
}
.form-container{
    display: flex;
    margin :auto;
    
}
img{
    width: 100px;
    height: 100px;
}
button{
    display: block;
}
footer{
    position: absolute;
    bottom: 0px;
    margin: auto;
}
